<!doctype html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
</head>
<body>


<h2>All Books (click book ISBN or book Title can update the book detail)</h2>
{{#if query.title}}
  <h2>Searching for title "{{query.title}}"</h2>
{{/if}}

{{#each foo}}
{{this}}
{{/each}}
<div class = "books">
<table class = "table_book">
    <thead>
    <tr>
<th>ID</th>
<th>ISBN</th>
<th>Title</th>
<th>Author</th>
<th>Genres</th>
</tr></thead>
<tbody>
	{{#each books}}
<tr>
    <td>{{id}}</td>
    <td><a href="/book/detail/{{isbn}}">{{isbn}}</a></td>
    <td><a href="/book/detail/{{isbn}}">{{title}}</a></td>
    <td>
        {{#each authors}}<span class="i-item">{{this}}</span>{{/each}}
    </td>
    <td>
        {{#each genres}}<span class="i-item">{{this}}</span>{{/each}}
    </td>
</tr>
{{/each}}
</tbody>
</table>
</div>

<div class="addb">
    <h>Add new book to the library: </h>
     <form action="/book" method="post">
        <fieldset>
    <label for="isbn">ISBN:</label>
    <input type="text" name="isbn" /></br>
    <label for="btitle">Book name:</label>
    <input type="text" name="btitle" /></br>
    <div id="author-add">
        <label for="aname[]">Author name:</label>
        <input type="text" name="aname[]" />
        <span class="adds" id="author-adds">+</span>
    </div>
    <div id="genre-add">
        <label for="gname[]">Genre name:</label>
        <input type="text" name="gname[]"/>
        <span class="adds" id="genre-adds">+</span>
    </div>
    <input type="submit" value="add new book" />
 </fieldset>
</form>
</br></br></br>

    <h>Add new author to the library: </h>
    <form action="/book/insert_author" method="post">
        <fieldset>
    <label for="aname">Name: </label>
    <input type="text" name="aname" /></br>
    <label for="isbn">Book ISBN:</label>
    <input type="text" name="isbn" /></br>
    <input type="submit" value="add new author" /></fieldset></form>

</br></br></br>
    <h>Delete book from library </h>
    <form action="/book/delete_book" method="post">
    <fieldset>
    <label for="bookid">Book ID:</label>
    <input type="text" name="bookid" /></br>
    <input type="submit" value="Delete book" />
</fieldset></form>

</br></br></br>
  <h>Search book from library </h>
  <form action="/book" method="get">
  <fieldset>
  <label for="title">Book title:</label>
  <input type="text" name="title" value="{{query.title}}" /></br>
  <input type="submit" value="Search book" />
</fieldset></form>

</div>






<script src="/static/js/library.js"></script>
</body>
</html>
