<!doctype html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/static/CSS/rental.css">
</head>
<body>
{{#each foo}}
{{this}}
{{/each}}

<h2>Checked out books</h>
<div class = "checked">
<table class = "table_checked">
    <thead>
    <tr>
<th>Book ID</th>
<th>Book title</th>
<th>Author name</th>
<th>Genre name</th>
<th>ISBN</th>
</tr></thead>
<tbody>
{{#each rental}}

<tr>
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>
        {{#each authors}}<span class="i-item">{{this}}</span>{{/each}}
    </td>
    <td>
        {{#each genres}}<span class="i-item">{{this}}</span>{{/each}}
    </td>
    <td>{{isbn}}</td>

</tr>
{{/each}}
</tbody>
</table>
</div>
<div class="rental">
    <h>Add new rental to the library: </h>
    <form action="/rental/out" method="post">
        <fieldset>
            <label for="userid">User ID:</label>
            <input type="text" name="userid"/></br>
            <label for="bookid">Book ID:</label>
            <input type="text" name="bookid"/></br>
            <label for="rtime">Rental time:</label>
            <input type="datetime-local" name="rtime"/></br>

            <input type="submit" value="new rental"/>
        </fieldset>
    </form>

    <h>Return book to the library: </h>
    <form action="/rental/in" method="post">
        <fieldset>
            <label for="bookid">Book ID:</label>
            <input type="text" name="bookid"/></br>
            <label for="rtime">Return time:</label>
            <input type="datetime-local" name="rtime"/></br>

            <input type="submit" value="return"/>
        </fieldset>
    </form>

</body>
</html>
